doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		title documento HTML 5
	body 
		h1 documento HTML 5
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti amet perspiciatis provident velit temporibus cumque minus quae, neque mollitia deserunt natus rerum a cum itaque maxime ducimus aut, ipsam magnam.
