doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		title atributos
	body 
		nav
			ul
				//atributos en linea
				li
					a(href="http://maps.google.com", target="_blank", class="link") google maps
				li 
					a(href="http://translate.google.com" target="_blank" class="link") google translate
				//atributos multi linea
				li
					a(href="http://images.google.com" 
					target="_blank" 
					class="link") google imagenes