doctype
html(lang="es")
	head
		meta(charset="UTF-8")
		title Comentarios
	body
		h1 Comentarios
		//- Este comentario solo es de PUG no es visible en HTML

		//- Este es un comentario de
			multiples lineas de codigo
			y no es visible en HTML

		//Esto es un comentario de
			multiples lineas de codigo
			y es visible en HTML
	