//doctype transitional
//doctype strict
//doctype xml
doctype strict
html(lang="es")
	head
		meta(charset="UTF-8")
		title Tipos de Documento
	body
		h1 Tipos de Documento
		img(src="imgs/success.png")
		br
	