body {
  background-color: #d94d9b;
  font: 16px arial;
}
body main {
  background-color: #fff;
  padding: 20px;
  margin: 20px auto;
  width: 960px;
}
body main header h1, body main header h2, body main header h3 {
  color: #742d56;
  border-bottom: 2px solid #742d56;
  text-align: center;
}
body main section.content {
  color: #5f5e60;
}
body main section.content h1, body main section.content h2 {
  color: #742d56;
  border-bottom: 2px solid #743d56;
  text-align: center;
}
